.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.conteiner_content {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 426px;
  text-align: center;
  gap: 20px;
}

.link {
  color: var(--link-clr);
}

.btn {
  margin: 0 20px;
  border: 2px solid black;
  padding: 5px;
}

@media screen and (max-width: 480px) {}