.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}

.productColor,
.productMemory,
.productCharacteristic,
.productDescription,
.productTable {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-weight: var(--font-weight-b);
}

.productImgBtns,
.productMemoryBtns {
  display: flex;
  gap: 10px;
}

.btnImg {
  border: 1px solid #888;
  border-radius: 4px;
  padding: 10px 25px;
  width: 80px;
  height: 80px;
}

.btnImg:hover,
.btnMemory:hover {
  background: var(--second-btn-clr-hover);
}

.btnImg:active,
.btnMemory:active {
  border: 2px solid var(--main-btn-clr-clicked);
}

.btnMemory {
  border: 1px solid #888;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn_current {
  border: 2px solid var(--main-btn-clr);
  border-radius: 4px;
}

.listCharacteristic span {
  font-weight: var(--font-weight-b);
}

.listCharacteristic_item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  background-color: #888;
}

.listCharacteristic_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDescriptionText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productTable {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 15px;
}

@media screen and (max-width: 1024px) {
  .productTable {
    display: none;
  }

  .productColor,
  .productMemory h3,
  .productCharacteristic,
  .productDescription {
    font-size: calc(14rem / var(--font-size-maket));
  }
}