@import "./reset.css";

:root {
  /* Colors Settings */
  --main-btn-clr: #f36223;
  --main-btn-clr-hover: #da4a0c;
  --main-btn-clr-clicked: #a93a09;
  --main-btn-clr-checked: #989898;
  --second-btn-clr-hover: #f2f2f2;
  --link-clr: #008cf0;
  --main-clr-background: #f8fafe;
  --main-clr-text: #000;
  --second-clr-text: #fff;
  --clr-lable: #ff5722;

  /* Font Settings */
  --font-size-maket: 16;
  --font-weight-b: 700;
  --font-weight-m: 500;
  --font-weight-s: 400;
  --font-style-normal: normal;
  --font-style-italic: italic;

  /* Page Settings */

  /* ---- Bounding container---- */

  --page-max-width: 1500px;
  --page-padding-top: 0;
  --page-padding-right: 50px;
  --page-padding-bottom: 0;
  --page-padding-left: 50px;
}

html {
  font-family: "Inter";
  font-weight: var(--font-weight-m);
  font-style: var(--font-style-normal);
  font-size: var(--font-size-maket) px;
  line-height: 1.21;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-clr-background);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-clr-background);
}

@media screen and (max-width: 480px) {
  :root {
    --page-padding-right: 8px;
    --page-padding-left: 8px;
  }
}