footer {
  font-size: calc(14rem / var(--font-size-maket));
  line-height: 17px;
  background: var(--second-btn-clr-hover);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contentText {
  width: 100%;
}

.title {
  font-weight: var(--font-weight-b);
}

/* media */

@media screen and (max-width: 360px) {
  .content {
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 20px;
  }
}